{% extends 'base.html.twig' %}

{% block title %}Measurement index{% endblock %}

{% block body %}
    <h1 class="mb-4">Measurement index</h1>

    <div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Celsius</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for measurement in measurements %}
            <tr>
                <td>{{ measurement.id }}</td>
                <td>{{ measurement.date ? measurement.date|date('Y-m-d') : '' }}</td>
                <td>{{ measurement.celsius }}</td>
                <td>
                    <a class="btn btn-sm btn-outline-secondary" href="{{ path('app_measurement_show', {'id': measurement.id}) }}">Show</a>
                    {% if is_granted('ROLE_MEASUREMENT_EDIT') %}
                        <a class="btn btn-sm btn-outline-primary" href="{{ path('app_measurement_edit', {'id': measurement.id}) }}">Edit</a>
                    {% endif %}
                    {% if is_granted('ROLE_MEASUREMENT_DELETE') %}
                        <form method="post" action="{{ path('app_measurement_delete', {'id': measurement.id}) }}" style="display:inline-block;" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ measurement.id) }}">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    {% if is_granted('ROLE_MEASUREMENT_NEW') %}
        <a class="btn btn-success mt-3" href="{{ path('app_measurement_new') }}">Create new</a>
    {% endif %}
    
{% endblock %}
